html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background: #131417; }

*, *:before, *:after {
  box-sizing: border-box;
  color: #FFFFFF; }

ul {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none; }

a {
  text-decoration: none; }

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold; }

.button:hover {
  opacity: .4;
  cursor: pointer; }

.l-flex {
  display: flex; }

.l-align-center {
  align-items: center; }

.l-flex-wrap {
  flex-wrap: wrap; }

.l-sidebar {
  min-width: 188px; }

.l-header {
  display: flex;
  align-items: center; }

.l-section {
  margin: 32px 0; }

.l-margin-left-2rem {
  margin-left: 2rem !important; }

.l-margin-left-4rem {
  margin-left: 4rem !important; }

.badge {
  display: inline-block;
  background: #ffdd40;
  color: black;
  border-radius: 5px;
  font-size: 9px;
  padding: 2px 4px;
  font-weight: bold; }

.button {
  display: inline-block;
  border: 3px solid #aaaebc;
  border-radius: 4px;
  padding: 8px 16px;
  text-align: center; }

.button-logo {
  margin: 0 16px;
  border: 3px solid transparent;
  background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  width: 154px;
  padding: 0; }

.button-logo-text {
  display: block;
  background: black;
  padding: 8px; }

.button-primary {
  border: 0;
  background: #47cf73;
  color: black; }

.button-secondary {
  border: 0;
  background: #444857; }

.header-buttons {
  padding: 8px; }

.header-buttons .button {
  margin-right: 8px;
  min-width: 100px; }

.hero-footer .button {
  padding-left: 30px;
  padding-right: 30px; }

.card-icon {
  background: black;
  position: relative;
  width: 64px;
  height: 64px;
  left: 16px;
  top: 32px;
  border-radius: 5px;
  text-align: center; }

.card-icon .fa {
  font-size: 48px;
  position: relative;
  top: 8px; }

.card-footer {
  margin: 10px 0; }

.card-description {
  color: #b7bbc8; }

.card {
  padding: 2rem;
  width: 360px;
  background: #2c303a;
  border-radius: 6px; }

.product-item-row {
  justify-content: center; }

.product-item {
  background: #2c303a;
  margin: 2rem 1rem;
  width: 360px; }

.product-message-body {
  color: #b7bbc8;
  margin-bottom: 16px; }

.product-item-card {
  transition: .2s; }

.product-item-card:hover {
  transform: scale(1.05);
  opacity: .4;
  cursor: pointer; }

.product-item-card-image {
  width: 350px;
  border-radius: 4px;
  margin: auto;
  padding: 8px; }

.product-item-card-image img {
  object-fit: cover;
  width: 100%; }

.product-item-card-body {
  display: flex;
  padding: 16px;
  padding-top: 0; }

.product-item-card-body-avator {
  width: 40px;
  height: 40px;
  border-radius: 4px; }

.product-item-card-body-avator img {
  object-fit: cover;
  width: 100%;
  border-radius: 4px; }

.product-item-card-body-title {
  margin-left: 1rem; }

.product-item-card-body-title-text {
  margin: 0; }

.product-item-card-body-title p {
  margin: 0; }

.product-item-card-footer {
  padding: 8px 16px; }

.product-item-card-footer-card {
  background: black;
  border-radius: 4px;
  margin-right: 4px;
  padding: 2px 4px; }

.product-item-list-footer {
  display: flex;
  justify-content: center; }

.code-card {
  font-size: 13px;
  margin-bottom: 8px;
  background: #1d1e22;
  border-radius: 6px;
  width: 300px;
  height: 140px;
  font-size: 13px; }

.code-card-html {
  position: relative;
  left: 170px;
  bottom: 20px; }

.code-card-scss {
  position: relative;
  left: 220px;
  bottom: 20px; }

.code-card-js {
  position: relative;
  left: 170px;
  bottom: 20px; }

.code-card-header {
  padding: 4px 8px;
  justify-content: space-between; }

.code-card-body {
  padding: 8px;
  padding-top: 0; }

.code-card-title-text {
  margin: 0;
  margin-left: 8px; }

.code-card-body p {
  margin: 0; }

.cursor {
  animation: blink 1s infinite; }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.features {
  justify-content: center; }

.features .card {
  height: 340px; }

.features-card {
  margin: 2rem 1rem; }

.footer {
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  background: black; }

.footer-logo {
  font-size: 2rem; }

.footer-links h4 {
  margin: 2px;
  margin-right: 1rem; }

.footer-links li {
  margin-right: 1rem; }

.hero {
  margin: 32px; }

.hero-logo {
  font-size: 36px; }

.hero-body {
  display: flex;
  flex-wrap: wrap; }

.hero-body-description {
  width: 50%;
  padding: 32px; }

.hero-body-description-title {
  margin: 0;
  font-size: 3rem;
  font-weight: 900; }

.hero-body-description-text {
  font-size: 1.1rem; }

.hero-footer {
  font-size: 20px;
  font-weight: 500; }

.hero-body-image {
  width: 50%; }

.hero-body-image-card {
  margin: 16px auto;
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%);
  height: 410px;
  width: 495px;
  border-radius: 6px; }

.search-form {
  padding: 8px;
  margin: 8px;
  background: #252830;
  border-radius: 4px;
  width: 100%; }

.search-form i {
  font-size: 20px; }

.search-form-input {
  background: #252830;
  border: 0;
  font-size: 20px;
  margin-left: 16px;
  font-weight: bold;
  width: 100%; }

.codepen-logo {
  text-align: center; }

.get-start-text {
  margin: 0.2em;
  font-size: .8em;
  text-align: center;
  color: #b7bbc8; }

.sidebar {
  background: #1F1F26; }

.sidebar-menu-title {
  font-size: .8rem;
  margin-bottom: 0.2rem;
  margin-left: 16px; }

.sidebar-menu-sub-list li a:hover {
  background: black; }

.sidebar-menu-sub-list {
  margin-bottom: 16px; }

.sidebar-menu a {
  display: block;
  padding-left: 16px; }

.sidebar-menu-list li a:hover {
  background: black; }

.text-warning {
  color: #ffdd40; }

.text-primary {
  color: #47cf73; }

.text-accent {
  color: #0ebeff; }

.text-weak {
  color: #b7bbc8; }

.text-bold {
  font-weight: bold; }

.hilight-orange {
  color: #a88038; }

.hilight-beige {
  color: #e1ca72; }

.hilight-green {
  color: #74b087; }

.hilight-purple {
  color: #9f8198; }

.hilight-blue {
  color: #7a99ad; }
