.text-warning 
    color: #ffdd40

.text-primary
    color: #47cf73

.text-accent
    color: #0ebeff

.text-weak
    color: #b7bbc8

.text-bold
    font-weight: bold

.hilight-orange
    color: #a88038

.hilight-beige
    color: #e1ca72

.hilight-green
    color: #74b087

.hilight-purple
    color: #9f8198

.hilight-blue
    color: #7a99ad